.cont {
  /* background: var(--primary-light); */
  background: #f6f6f7;
  width: 100%;
  height: 100vh;
}

.boardTitleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 40px;
}

.boardTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

.filterBox {
  display: flex;
  gap: 2px;
}

.filter {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
}

.filterIcon {
  height: 16px;
  width: 16px;
  fill: none;
  stroke: var(--text-primary);
  stroke-opacity: 0.8;
  stroke-width: 1.5;
  stroke-linecap: "round";
  stroke-linejoin: "round";
}

@media screen and (min-width: 765px) {
  .boardTitleBox {
    padding-top: 26px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 26px;
  }

  .boardTitle {
    font-size: 18px;
  }

  .filterBox {
    gap: 8px;
  }
}

@media screen and (min-width: 1439px) {
  .boardTitleBox {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 10px;
  }

  .cont {
    max-width: calc(100vw - 260px);
    height: calc(100vh - 68px);
  }
}
