.container {
  font-family: "Poppins", sans-serif;
  margin-top: 292px;
  margin-left: 20px;
  margin-right: 20px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-secondary);
}

.coloredText {
  color: var(--modal-btn);
}

@media screen and (min-width: 765px) {
  .container {
    margin-top: 408px;
    margin-left: 141px;
    margin-right: 141px;
  }

  .text {
    font-size: 14px;
    line-height: 129%;
  }
}

@media screen and (min-width: 1439px) {
  .container {
    margin-top: 281px;
    margin-left: 347px;
    margin-right: 347px;
  }
}
