.cont {
  width: 90%;
  max-width: 375px;
  background-color: #161616;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.fieldContainer {
  margin-bottom: 15px;
}
.fieldWrapper {
  margin-bottom: 20px;
  position: relative;
}

.input {
  width: 100%;
  height: 49px;
  padding-left: 18px;
  font-size: 16px;
  border: 1px solid rgba(190, 219, 176, 0.4);
  border-radius: 8px;
  background-color: #1f1f1f;
  color: rgb(135, 128, 128);
  outline: none;
  box-sizing: border-box;
  position: relative;
  padding-right: 40px;
}
.input:hover {
  background-color: rgba(15, 15, 15, 0.4);
  transition: background-color 0.3s;
}
.input:focus {
  background-color: rgba(15, 15, 15, 0.4);
  border: 1px solid rgba(190, 219, 176, 0.9);
  transition: background-color 0.3s;
}

.error {
  color: red;
  font-size: 10px;
  position: absolute;
  margin-top: 2px;
  width: 100%;
}

.submitButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #161616;
  background-color: #bedbb0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 9px;
}
.submitButton:hover,
.submitButton:focus {
  background-color: #9dc888;
  transition: background-color 0.3s;
}

.icon {
  fill: #757575;
  stroke: #747474;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.btnGoogleLogin {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 14px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--primary-light);
  padding: 10px 40px 10px 40px;
  /* border: 1px solid rgba(190, 219, 176, 0.9); */
  /* &:hover,
  &:focus {
    background-color: #1f1f1f;
    transition: background-color 0.3s;
  } */
}

.iconGoogle {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media (min-width: 375px) {
  .cont {
    width: 100%;
    max-width: 375px;
  }
}

@media (min-width: 768px) {
  .cont {
    width: 100%;
    max-width: 424px;
  }
}
