.boardContainer {
  display: flex;
  overflow-x: auto;
  height: 64vh;
  overflow-y: hidden;
  /*  */
  scroll-behavior: smooth;
}

.columnWrapper {
  flex: 0 0 100vw;
  height: 64vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.boardContainer::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}
.columnWrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.boardContainer::-webkit-scrollbar-thumb,
.columnWrapper::-webkit-scrollbar-thumb {
  /*  */
  background-color: #e8e8e8;
  border-radius: 12px;
}

.boardContainer::-webkit-scrollbar-track,
.columnWrapper::-webkit-scrollbar-track {
  background-color: var(--background-default);
  border-radius: 12px;
  margin: 20px;
}

.boardContainer::-webkit-scrollbar-corner,
.columnWrapper::-webkit-scrollbar-corner {
  background-color: transparent;
}

.columnNameBox {
  background-color: var(--background-default);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.columnName {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-primary);
}

.iconsBox {
  display: flex;
  gap: 8px;
}

.columnIcons {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--text-primary);
  stroke-opacity: 0.5;
  stroke-width: 1.3;
  stroke-linecap: "round";
  stroke-linejoin: "round";
}

.cardList {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--background-default);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  padding: 14px 20px;
  /*  */
  margin-bottom: 8px;
  position: relative;
}

.cardStatusSpanWrapper {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #e09cb5;
  width: 4px;
  height: 100%;
}

.cardTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-primary);
  margin-bottom: 8px;
}

.cardDescr {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
  margin-bottom: 14px;
}

.cardDivider {
  height: 2px;
  /*  */
  background-color: rgba(22, 22, 22, 0.1);
  margin-bottom: 14px;
}

.cardEditsInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cardInfo {
  display: flex;
  gap: 14px;
}

.priority,
.cardDeadline {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}

.priorityTitle,
.deadline {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.5);
}

.priorityValue,
.deadlineDate {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
}

.priorityValueWrapper {
  display: flex;
  gap: 4px;
}

.priorityCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e09cb5;
}

.cardIcons {
  display: flex;
  gap: 8px;
}

.addCardBtn {
  border-radius: 8px;
  background: #bedbb0;
  margin: 14px 20px;
  padding: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
}

.btnIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-primary);
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.btnIconWrapper > .columnIcons {
  stroke: var(--background-default);
  stroke-opacity: 1;
  fill: none;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
