.container {
  min-width: 135px;
  /* max-width: 290px; */
  min-height: 86px;
  padding: 18px;
  background-color: var(--bg-screen);
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 100;
  border-radius: 8px;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-secondary);
}

.btn {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  color: var(--text-secondary);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;

  &:hover {
    color: var(--hover-modal-btn);
    .columnIcons {
      stroke: var(--hover-modal-btn);
    }
  }

  &:active {
    color: var(--hover-modal-btn);
    .columnIcons {
      stroke: var(--hover-modal-btn);
    }
  }
}

.columnIcons {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--text-primary);
  &:hover {
    color: var(--hover-modal-btn);
    stroke: var(--hover-modal-btn);
  }
}

/* Стилі для смуги прокрутки */
.container::-webkit-scrollbar {
  width: 5px; /* Ширина смуги прокрутки */
  height: 10%;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;

  /* Колір фону смуги прокрутки */
  position: fixed;
  right: 20px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color-horiz); /* Колір самої смуги прокрутки */
  border-radius: 8px; /* Закруглені кути смуги прокрутки */
}
/* Змінити колір смуги прокрутки при наведенні */
.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}
