.css.closeBtn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  .css.titleBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .css.label{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #ffffff;
  }
  @media (min-width: 768px) {
    .modalContent {
      width: 400px;
    }
  }
  .css.errorMessage{
    color: rgb(228, 8, 8);
    font-weight: 500;
    margin-top: -10px;
    padding-left: 10px;
  }
  .css.input {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    border: 1px solid var(--modal-input-border);
    background: var(--modal-bg);
    border-radius: 8px;
    padding: 14px 18px;
    opacity: 0.4;
  }
  .css.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--modal-btn-text);
    background-color: var(--modal-btn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .css.btnSumbitAction{
    width: 28px;
    background-color: var(--modal-icon-wrap);
    border-radius: 6px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 28px;
  }