.cont {
  background-color: var(--background-default);
  font-family: "Poppins", sans-serif;
  padding: 14px;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 225px;
  display: none;
}

@media (max-width: 768px) {
  .cont {
    position: fixed;
    display: flex;
    height: 100vh;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  .cont.hidden {
    display: none;
  }
  .cont.visible {
    display: flex;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-overlay);
    z-index: 999;
  }
}
@media (min-width: 760px) and (max-width: 1439px) {
  .cont {
    position: fixed;
    display: flex;
    min-width: 260px;
    z-index: 1000;
    padding: 24px;
    transition: transform 0.3s ease;
  }
  .cont.hidden {
    display: none;
  }
  .cont.visible {
    display: flex;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-overlay);
    z-index: 999;
  }
}

@media (min-width: 1440px) {
  .cont {
    padding: 24px;
    display: flex;
    min-width: 260px;
  }
  .overlay {
    display: none;
  }
}

.cont::-webkit-scrollbar {
  background-color: var(--bg-scroll-track);
  width: 4px;
  height: 12px;
  border-radius: 12px;
}
.cont::-webkit-scrollbar-thumb {
  background-color: var(--bg-scroll-thumb);
  border-radius: 12px;
}

.logoContainer {
  display: flex;
  gap: 8px;
  padding-bottom: 60px;
  align-items: center;
}

.logoIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  background-color: var(--logo-icon-wrapper);
}
.logoIcon {
  width: 16px;
  height: 16px;
  fill: var(--logo-icon);
}

.logoTitle {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--logo-title);
}
.sidebarTitle {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--sidebar-light);
  margin-bottom: 8px;
}

/* --- Create Board Styles --- */
.createBoard {
  display: flex;
  align-items: center;
  gap: 77px;
  padding: 14px 0px;
  border-top: 1px solid rgba(22, 22, 22, 0.1);
  border-bottom: 1px solid rgba(22, 22, 22, 0.1);
  margin-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .createBoard {
    gap: 96px;
  }
}
.createBoardTitle {
  color: var(--accent-sidebar-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 8px 10px;
  background-color: var(--accent-sidebar-btn);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addBtn:hover {
  background-color: var(--hover-sidebar-btn);
}
.addBtnIcon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--plus-sidebar-icon);
}

/* --- Board list styles ---*/
.boardsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
  max-height: 185px;
  overflow-y: auto;
  margin-bottom: 40px;
}
.boardsList::-webkit-scrollbar {
  width: 6px;
}

.boardsList::-webkit-scrollbar-track {
  background: transparent;
}

.boardsList::-webkit-scrollbar-thumb {
  background-color: var(--bg-scroll-thumb);
  border-radius: 3px;
}
.cont .boardsList {
  margin-left: -14px;
  margin-right: -14px;
}
@media (min-width: 768px) {
  .cont .boardsList {
    margin-left: -24px;
    margin-right: -24px;
  }
}
.boardItem {
  display: flex;
  padding: 20px 14px;
  position: relative;
  color: var(--sidebar-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .boardItem {
    padding: 20px 24px;
  }
}
.boardItem:hover,
.boardItem:focus {
  background-color: var(--accent-sidebar);
}

.boardItem::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: var(--hover-sidebar-element);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boardItem:hover::after {
  width: 4px;
}
.btnGroup {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.boardItem:hover .btnGroup {
  display: flex;
  gap: 8px;
}
.linkContent {
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .linkContent {
    gap: 8px;
  }
}
.boardItem:hover .linkContent {
  color: var(--accent-sidebar-color);
}
.link {
  display: flex;
  gap: 43px;
}
@media (min-width: 768px) {
  .link {
    gap: 58px;
  }
}
.projectIcon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--sidebar-light);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.boardItem:hover .projectIcon {
  stroke: var(--accent-sidebar-color);
}
.iconPencil {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--sidebar-light);
}
.iconTrash {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--sidebar-light);
}

/* --- Need Help Styles --- */
.needHelpContainer {
  margin-top: auto;
  padding: 14px;
  border-radius: 8px;
  background-color: var(--accent-sidebar);
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .needHelpContainer {
    padding: 20px;
    width: 212px;
  }
}
.accent {
  color: var(--primary-main);
}
.cactus {
  display: block;
  margin-bottom: 14px;
}
.needHelpText {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  color: var(--accent-sidebar-color);
}

@media (min-width: 768px) {
  .needHelpText {
    font-size: 14px;
    line-height: 143%;
  }
}
.needHelpBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--accent-sidebar-color);
}
.needHelpIcon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--accent-sidebar-color);
}

/* --- Logout Btn Styles --- */
.logoutBtn {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 16px;
  color: var(--accent-sidebar-color);
}
.logoutIcon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: var(--hover-sidebar-element);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logoutBtn:hover .logoutIcon {
  stroke: var(--hover-sidebar-btn);
}
