:root {
  --primary-light: #fcfcfc;
  --primary-main: #bedbb0;
  --primary-main-transparent: rgba(190, 219, 176, 0.4);
  --primary-dark: #0b5c15;
  --primary-contrastText: rgba(22, 22, 22, 0.1);
  --secondary-main: rgba(22, 22, 22, 0.1);
  --background-default: #fff;
  --background-paper: #fcfcfc;
  --text-primary: #161616;
  --text-secondary: rgba(22, 22, 22, 0.8);

  --bg-scroll-track: #e8e8e8;

  --accent-sidebar: #f6f6f7;
  --accent-sidebar-color: #161616;
  --accent-sidebar-btn: #bedbb0;
  --sidebar-light: rgba(22, 22, 22, 0.5);
  --plus-sidebar-icon: #121212;
  --hover-sidebar-btn: #9dc888;
  --hover-sidebar-element: #bedbb0;
  --bg-scroll: #e8e8e8;

  --bg-screen: #f6f6f7;
  --label-blue: #8fa1d0;
  --label-pink: #e09cb5;
  --label-green: #bedbb0;
  --label-grey: rgba(22, 22, 22, 0.3);
  --text-selected-day: #161616;
  --add-btn: #ffffff;
  --hover-btn: #9dc888;

  --button-text: #161616;
  --bg-scroll: rgba(22, 22, 22, 0.1);
  --bottom-scroll: #fff;
  --bg-scroll-thumb: rgba(22, 22, 22, 0.1);
  --stroke-btn: #fff;

  --modal-overlay: rgba(21, 21, 21, 0.3);
  --modal-bg: #fcfcfc;
  --modal-input-border: #bedbb0;
  --modal-btn: #bedbb0;
  --hover-modal-btn: #9dc888;
  --modal-btn-text: #161616;
  --modal-plus-icon: #fff;
  --modal-icon-wrap: #161616;

  --drop-down-text: #161616;
  --btn: #bedbb0;
  --btn-hover: #9dc888;
  --btn-add-color: #161616;
  --bg-modal: #fff;

  --logo-icon-wrapper: #1f1f1f;
  --logo-icon: #fff;
  --logo-title: #161616;
  --bg-icon: #656565;
}
#root {
  display: flex;
  justify-content: center;
}
/* Для темної теми */
[data-theme="dark"] {
  --primary-light: #161616;
  --primary-main: #bedbb0;
  --primary-main-transparent: rgba(190, 219, 176, 0.4);
  --primary-dark: #1b1c21;
  --primary-contrastText: rgba(255, 255, 255, 0.1);
  --secondary-main: rgba(255, 255, 255, 0.1);
  --background-default: #121212;
  --background-paper: #161616;
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --bg-screen: #1f1f1f;
  --text-selected-day: #1f1f1f;
  --add-btn: #ffffff;
  --hover-btn: #9dc888;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --accent-sidebar: #1f1f1f;
  --plus-sidebar-icon: #121212;
  --accent-sidebar-color: #fff;
  --accent-sidebar-btn: #bedbb0;
  --hover-sidebar-btn: #9dc888;
  --sidebar-light: rgba(255, 255, 255, 0.5);
  --hover-sidebar-element: #bedbb0;
  --bg-screen: #1f1f1f;

  /*  */
  --button-text: #161616;
  --bg-scroll: #121212;
  --bg-scroll-track: rgba(255, 255, 255, 0.1);
  --bottom-scroll: #121212;
  --bg-scroll-thumb: rgba(255, 255, 255, 0.1);
  --stroke-btn: #fff;

  --modal-overlay: rgba(21, 21, 21, 0.5);
  --modal-bg: #151515;
  --modal-input-border: #bedbb0;
  --modal-btn: #bedbb0;
  --hover-modal-btn: #9dc888;
  --modal-btn-text: #161616;
  --modal-plus-icon: #fff;
  --modal-icon-wrap: #161616;

  --drop-down-text: rgba(255, 255, 255, 0.5);
  --btn: #bedbb0;
  --btn-hover: #9dc888;
  --btn-add-color: #161616;
  --bg-modal: #151515;

  --logo-icon-wrapper: #1f1f1f;
  --logo-icon: #fff;
  --logo-title: #fff;
  --bg-icon: #656565;
}

/* Для фіолетової теми */
[data-theme="violet"] {
  --primary-light: #fff;
  --primary-main: #5255bc;
  --primary-main-transparent: rgba(82, 85, 188, 0.4);
  --primary-dark: #b8bcfd;
  --primary-contrastText: rgba(255, 255, 255, 0.1);
  --secondary-main: rgba(22, 22, 22, 0.1);
  --background-default: #5255bc;
  --background-paper: #fff;
  --text-primary: #161616;
  --text-secondary: rgba(22, 22, 22, 0.8);
  --accent-sidebar: rgba(236, 237, 253, 0.4);
  --plus-sidebar-icon: #fff;
  --accent-sidebar-color: #fff;
  --accent-sidebar-btn: #b8bcfd;
  --hover-sidebar-btn: #979cea;
  --sidebar-light: rgba(255, 255, 255, 0.5);
  --hover-sidebar-element: #fff;
  --bg-screen: #ecedfd;
  --text-selected-day: #fcfcfc;
  --add-btn: #161616;
  --hover-btn: #7b7ede;

  --bg-scroll: #b8bcfd;
  --bg-scroll-track: #fff;
  --bottom-scroll: #fff;
  --bg-scroll-thumb: #b8bcfd;

  --modal-overlay: rgba(21, 21, 21, 0.3);
  --modal-bg: #fcfcfc;
  --modal-input-border: #b8bcfd;
  --modal-btn: #5255bc;
  --hover-modal-btn: #7b7ede;
  --modal-btn-text: #fff;
  --modal-plus-icon: #161616;
  --modal-icon-wrap: #fff;

  --logo-icon-wrapper: #ecedfd;
  --logo-icon: #5255bc;
  --logo-title: #fff;
}

.datePicker {
  width: 100% !important;
  padding: 8px !important;
  border: 1px solid #666 !important;
  border-radius: 4px !important;
  background-color: #2c2c2e !important;
  color: #fff !important;
}
.react-datepicker {
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary-main);
  background-color: var(--primary-main);
  border-radius: 8px;
  padding: 18px;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--primary-light) !important;
  color: var(--text-primary) !important;
  /* width: 233px !important; */
  /* height: 254px !important; */
}
.react-datepicker__month-container {
  /* width: 233px !important; */
  height: 254px !important;
  float: none !important;
}
.react-datepicker-wrapper input {
  position: relative !important;
  border: none;
  outline: none;
  color: var(--primary-main);
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  cursor: pointer;
  width: 188px !important;
  max-width: 280px !important;

  caret-color: transparent;
}

.react-datepicker-popper {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  will-change: transform !important;
  z-index: 100 !important;
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: transparent !important;
}

.react-datepicker__month {
  margin: 0.4em 0 !important;
  color: var(--text-primary) !important;
}

.react-datepicker__day--outside-month {
  color: var(--secondary-main) !important;
}

.react-datepicker__month-container {
  color: var(--text-primary) !important;
}

.react-datepicker__current-month {
  font-weight: 600;
  font-size: 16px !important;
  letter-spacing: -0.02em;
  border-bottom: 1px solid var(--primary-main);
  padding-bottom: 14px !important;
  color: var(--text-primary) !important;
}

.react-datepicker__week {
  display: flex !important;
  gap: 0px !important;
  /* grid-template-columns: repeat(7, 1fr) !important; */
  /* column-gap: 10px !important; */
}

.react-datepicker__day-names {
  font-weight: 600;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.react-datepicker__day {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0;

  /* color: var(--text-primary) !important; */
}

.react-datepicker__day--today {
  border: 1px solid var(--primary-main);
  border-radius: 50%;
  margin: 0;
}
.react-datepicker__day-name {
  color: var(--text-secondary) !important;
}
.react-datepicker__time-name .react-datepicker__day--selected {
  background-color: var(--primary-main) !important;
  color: white;
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
}
.react-datepicker__time-name .react-datepicker__day--selected ::before {
  z-index: -1 !important;
  background: #ffffff !important;
  width: 24px !important;
  height: 24px !important;
}

.react-datepicker__day:hover {
  background-color: grey !important;
  color: white !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  transition: none !important;
}

.react-datepicker__day--disabled {
  color: var(--secondary-main) !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--primary-main) !important;
  color: var(--text-selected-day) !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 24px !important;
  height: 24px !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
}
.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}
.react-datepicker__navigation--next {
  top: 18px !important;
  right: 18px !important;
}
.react-datepicker__navigation--previous {
  top: 18px !important;
  left: 18px !important;
}
.react-datepicker__navigation-icon::before {
  border-color: var(--primary-main);

  --button-text: #fff;
  --bg-scroll: #b8bcfd;
  --bg-scroll-track: #fff;
  --bottom-scroll: #fff;
  --bg-scroll-thumb: #b8bcfd;
  --stroke-btn: #161616;

  --modal-overlay: rgba(21, 21, 21, 0.3);
  --modal-bg: #fcfcfc;
  --modal-input-border: #b8bcfd;
  --modal-btn: #5255bc;
  --hover-modal-btn: #7b7ede;
  --modal-btn-text: #fff;
  --modal-plus-icon: #161616;
  --modal-icon-wrap: #fff;

  --drop-down-text: #161616;
  --btn: #5255bc;
  --btn-hover: #7b7ede;
  --btn-add-color: #fff;
  --bg-modal: #fff;

  --logo-icon-wrapper: #ecedfd;
  --logo-icon: #5255bc;
  --logo-title: #fff;
  --bg-icon: #656565;
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
