:root {
  --primary-light: #fcfcfc;
  --primary-main: #bedbb0;
  --primary-main-transparent: rgba(190, 219, 176, 0.4);
  --primary-dark: #0b5c15;
  --primary-contrastText: rgba(22, 22, 22, 0.1);
  --secondary-main: rgba(22, 22, 22, 0.1);
  --background-default: #fff;
  --background-paper: #fcfcfc;
  --text-primary: #161616;
  --text-secondary: rgba(22, 22, 22, 0.8);
  --bg-scroll-track: #e8e8e8;
  --bg-screen: #f6f6f7;
  --label-blue: #8fa1d0;
  --label-pink: #e09cb5;
  --label-green: #bedbb0;
  --label-grey: rgba(22, 22, 22, 0.3);
  /*  */
  --button-text: #161616;
  --bg-scroll: rgba(22, 22, 22, 0.1);
  --bottom-scroll: #fff;
  --bg-scroll-thumb: rgba(22, 22, 22, 0.1);
  --stroke-btn: #fff;
  --drop-down-text: #161616;
  --btn: #bedbb0;
  --btn-hover: #9dc888;
  --btn-add-color: #161616;
  --bg-modal: #fff;
}

/* Для темної теми */
[data-theme="dark"] {
  --primary-light: #161616;
  --primary-main: #bedbb0;
  --primary-main-transparent: rgba(190, 219, 176, 0.4);
  --primary-dark: #1b1c21;
  --primary-contrastText: rgba(255, 255, 255, 0.1);
  --secondary-main: rgba(255, 255, 255, 0.1);
  --background-default: #121212;
  --background-paper: #161616;
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --bg-screen: #1f1f1f;
  /*  */
  --button-text: #161616;
  --bg-scroll: #121212;
  --bg-scroll-track: rgba(255, 255, 255, 0.1);
  --bottom-scroll: #121212;
  --bg-scroll-thumb: rgba(255, 255, 255, 0.1);
  --stroke-btn: #fff;
  --drop-down-text: rgba(255, 255, 255, 0.5);
  --btn: #bedbb0;
  --btn-hover: #9dc888;
  --btn-add-color: #161616;
  --bg-modal: #151515;
}

/* Для фіолетової теми */
[data-theme="violet"] {
  --primary-light: #fff;
  --primary-main: #5255bc;
  --primary-main-transparent: rgba(82, 85, 188, 0.4);
  --primary-dark: #b8bcfd;
  --primary-contrastText: rgba(255, 255, 255, 0.1);
  --secondary-main: rgba(22, 22, 22, 0.1);
  --background-default: #5255bc;
  --background-paper: #fff;
  --text-primary: #161616;
  --text-secondary: rgba(22, 22, 22, 0.8);
  --bg-screen: #ecedfd;
  /*  */
  --button-text: #fff;
  --bg-scroll: #b8bcfd;
  --bg-scroll-track: #fff;
  --bottom-scroll: #fff;
  --bg-scroll-thumb: #b8bcfd;
  --stroke-btn: #161616;
  --drop-down-text: #161616;
  --btn: #5255bc;
  --btn-hover: #7b7ede;
  --btn-add-color: #fff;
  --bg-modal: #fff;
}
