@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"), local("Poppins-Medium"),
    local("Poppins-SemiBold"),
    url("./fonts/Poppins-Regular.ttf") format("truetype"),
    url("./fonts/Poppins-Medium.ttf") format("truetype"),
    url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}
html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    background-color: var(--color-white);
    width: 4px;
    height: 12px;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-pale-gray);
    border-radius: 12px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 a;
}

button,
a {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
[data-rbd-droppable-context-id="0"] {
  max-height: 78vh;
  overflow: hidden;
}
